<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplo Upload</title>
</head>
<body>
    <br>
    <br>
<div>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="files" multiple/>
        <button type="submit">Enviar</button>
    </form>
</div>
    
</body>
</html>